@font-face {
    font-family: my-font;
    src: url(./fonts/Norse-Bold.otf);
}

:root {
    box-sizing: border-box;
    height: 100vh;
    font-family: sans-serif;
    font-size: 10px;
}

body {
    display: flex;
    height: 100vh;
    background-color: black;
    padding: 0 150px 0 150px;
    margin: 0 0 0 0;
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    flex: 2 1 0;
    border: 1px solid black;
    /* width style color */
    background-image: url(./image/background.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-right {
    display: flex;
    flex-direction: column;
    flex: 3 1 0;
    border: 1px solid black;
    /* width style color */
}

.main-left #left-footer {
    flex: end;
    color: white;
    font-size: 1.3rem;
    padding-bottom: 5px;
    text-align: center;

}

.odin-logo-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 8rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 14%;
    top: 18%;
    padding: 10px 0px 10px 0px;
}

.odin-logo-box #odin-logo {
    max-width: 100%;
    max-height: 100%;
}

.odin-logo-box #odin-logo-text {
    display: flex;
    align-items: center;
    font-family: my-font;
}

.main-right>div {
    position: relative;
}

.main-right>div:first-child,
.main-right>div:last-child {
    position: relative;
    z-index: 1;
    flex: 1;
    background-color: rgb(249, 250, 251);
}

.main-right>div:not(:first-child):not(:last-child) {
    position: relative;
    z-index: 10;
    flex: 0.9;
    background-color: white;
    /* width style color */
}

.header,
.form-container,
.footer {
    padding-left: 5%;
}

.form-container {
    box-shadow: 0 8px 6px -6px #999,
        /* Inner top shadow */
        0 -8px 6px -6px #999,
        /* Inner bottom shadow */
        0 0 10px rgba(0, 0, 0, 0.1),
        /* Outer shadow for depth */
        0 15px 30px rgba(0, 0, 0, 0.2);
    /* Bigger outer shadow for more depth */
}

.header p {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 550;
    max-width: 80%;
    bottom: 10%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3%;
    gap: 10%;
}

.form-container>p {
    font-size: 2rem;
    font-weight: 550;
    margin: 0;
}

.form-container div {
    display: flex;
    gap: 10%;
}

.form-container div .input-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(97, 95, 95);
    font-size: 1.1rem;
    font-weight: 600;
}

input {
    appearance: none;
    border-style: solid;
    border-width: 1px;
    border-color: #E5E7EB;
    border-radius: 3px;
}

input:invalid {
    border-color: red;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.4), /* smaller shadow */
    6px 6px 6px rgba(100, 100, 100, 0.2), /* medium shadow */
    9px 9px 9px rgba(150, 150, 150, 0.1); /* larger shadow */
}

button {
    color: white;
    background-color: #596D48;
    border-style: none;
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.4), /* smaller shadow */
    6px 6px 6px rgba(100, 100, 100, 0.2), /* medium shadow */
    9px 9px 9px rgba(150, 150, 150, 0.1); /* larger shadow */
    font-size: 1.4rem;
    margin-top: 4%;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.footer {
    font-size: 1.2rem;
    font-weight: 600;
}

.main-left a {
    color: white;
}

.main-right a {
    text-decoration: none;
    color: #596D48;
    font-weight: 700;
}